# Pythonの一時ファイル
__pycache__/
*.py[cod]

# 環境設定・機密情報
.env
kaggle.json
.ipynb_checkpoints/
.venv/

# データセットと出力結果
/data/
output/
wandb/
mlruns/
pretrained_models/
working/

# Kaggleアップロード用の一時フォルダ (これ重要！)
upload_dist/

# OSのサムネイルファイルなど
.DS_Store
Thumbs.db